.contact {
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;

    @media (max-width: 1224px) {
        margin-top: 120px;
    }

    @media (max-width: 600px) {
        // margin-top: 80px;
    }

    .registration {
        width: 100%;
        height: 100%;
        max-width: 1600px;
        padding: 32px 160px;

        .mainheadingContactus {
            width: 100%;
            margin-inline: auto !important;


            @media (max-width:600px) {
                width: min-content !important
            }
        }

        .infoContainer {
            display: flex;
            justify-content: flex-start;
            margin-top: 3rem;



            .infoBox {
                max-width: 500px;
                background-color: white;
                background: linear-gradient(0deg, rgba(5, 141, 166, 0.1), rgba(5, 141, 166, 0.1)), #FFFFFF;
                border-radius: 10px;
                padding: min(35px, 10%);
                // font-family: 'Poppins';
                font-style: normal;
                color: #777777;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 2rem;
                overflow: hidden;

                h4 {
                    margin: 0;
                    padding: 0;
                    font-weight: 600;
                    font-size: 1.25rem;

                    @media (max-width:600px) {
                        font-size: 1rem;
                    }
                }

                p,
                a,
                h5 {
                    margin: 0;
                    padding: 0;
                    font-size: 1rem;
                    font-weight: 400;
                    text-decoration: none;
                    color: #777777;

                    @media (max-width:600px) {
                        font-size: 0.8rem;
                    }
                }


                a[data-type="link"] {
                    cursor: pointer;
                }

                h5 {
                    font-weight: 600;
                }

                .middlesection {
                    display: grid;
                    grid-template-columns: 1fr;
                    align-items: flex-start;

                    .infoRow {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1rem;
                        margin-block: 1rem;
                    }


                    .infoRow:nth-child(3),
                    .infoRow:nth-child(4) {
                        p {
                            direction: ltr;
                        }
                    }

                    @media (max-width:1224px) {
                        grid-template-columns: 1fr 1fr;
                    }

                    @media (max-width:700px) {
                        grid-template-columns: 1fr;
                    }
                }



                .infosocial {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    width: 50%;
                    max-width: 300px;
                }


                .infopolygon {
                    width: 200px;
                    height: 120px;
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    &:lang(ar) {
                        right: unset;
                        left: 0;
                        transform: scaleX(-1);
                    }

                    @media (max-width:700px) {
                        width: 86px;
                        height: 55px;
                    }
                }

                @media (max-width:1224px) {
                    max-width: unset;
                    margin-block: 34px;
                }

                @media (max-width:600px) {
                    padding: 15px;
                }
            }

            .contactform {
                flex: 1;
                padding: 40px 80px;
                padding-right: 0;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 2rem;

                &:lang(ar) {
                    padding-inline: 40px;
                }

                .typeSelector {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .innertypeselector {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        width: fit-content;
                        height: 30px;
                        border-radius: 45px;
                        background: linear-gradient(0deg, rgba(5, 141, 166, 0.1), rgba(5, 141, 166, 0.1)), #FFFFFF;
                        // font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 0.8rem;


                        p {
                            margin: 0;
                            padding: 4px 16px;
                            min-height: 100%;
                            border-radius: 45px;
                            color: #777777;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                        }

                        .active {
                            background: #058DA6;
                            color: white;
                        }
                    }

                    @media (max-width:700px) {
                        justify-content: center;
                    }
                }

                .formContainer {
                    width: 100%;
                    height: 100%;

                    .forms {
                        // font-family: 'Poppins' !important;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: #777777;


                        .namemailRow {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr;

                            @media (max-width:700px) {
                                grid-template-columns: 1fr;
                            }
                        }

                        .namerow {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            column-gap: 2rem;
                            margin-bottom: 2rem;

                            .formItem {
                                margin-block: 0;
                            }

                            @media (max-width:600px) {
                                grid-template-columns: 1fr;
                                margin-bottom: 0;

                                .formItem {
                                    margin-bottom: 2rem;
                                }
                            }
                        }

                        .companyrow1,
                        .namemailRow[data-select="1"] {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 2rem;

                            @media (max-width:700px) {
                                grid-template-columns: 1fr;
                                gap: 0rem;
                            }
                        }

                        .picontainerclass {
                            width: 100%;
                            // font-family: "Poppins";
                            font-style: normal;
                            font-size: 1rem;
                        }

                        .phoneErrorDiv {
                            font-size: .7rem;
                            // font-family: "Poppins";
                            font-weight: 300;
                            color: red;
                        }



                        input,
                        input:focus,
                        select,
                        select:focus,
                        .picontainerclass input,
                        .picontainerclass input:focus {
                            margin-top: 0;
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid #B5B5B5;
                            border-radius: 0;
                            outline: none;
                            box-shadow: none;
                            font-weight: 400;
                            color: #777777;

                        }

                        input,
                        select {
                            padding: 11px 0;
                        }

                        .picontainerclass input {
                            padding-left: 48px;

                            color: #B5B5B5;

                            &[data-color="true"] {
                                color: #777777
                            }

                            &:lang(ar) {
                                padding-left: 0;
                                padding-right: 35px;
                            }
                        }


                        .searchClass {
                            padding: 1rem;

                            span {
                                display: none;
                            }

                            input,
                            select {
                                margin: 0;
                                padding: 0 1rem;
                                color: #777777;
                                // font-family: 'Poppins';
                                font-style: normal;
                                font-size: 1rem;

                                &:lang(ar) {
                                    padding: 0 !important
                                }
                            }

                        }

                        select {
                            background: transparent;
                            font-size: 1rem;
                            // font-family: "Poppins";
                            font-weight: 400;
                            color: #B5B5B5;


                        }

                        .optionvalue {
                            font-size: 1rem;
                            // font-family: "Poppins";
                            font-weight: 400;
                            background: white;
                            color: #777777 !important;
                        }

                        .formItem {
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            flex-direction: column;
                            margin-bottom: 2rem;
                            position: relative;

                        }

                        .buttonClass {
                            border: none;
                            box-shadow: none;
                            background: transparent;

                            border-bottom: 1px solid #B5B5B5;

                            .selected-flag {
                                padding: 0 !important;
                            }
                        }


                    }

                    .btnholder {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        button {
                            background: #058DA6;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #FFFFFF;
                            border-radius: 10px;
                            min-width: 200px;

                            // cursor: pointer;
                            @media (max-width:700px) {
                                width: 60%;
                                margin-top: 1rem;
                            }
                        }

                        @media (max-width:700px) {
                            justify-content: center;
                        }
                    }

                    .thankscontainer {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;


                        h4 {
                            font-weight: 600;
                            font-size: 1.5625rem;
                            color: #777777;

                            @media(max-width:600px) {
                                font-size: 1.25rem;
                            }
                        }

                        p {
                            font-weight: 400;
                            font-size: 1rem;
                            color: #B5B5B5;

                            @media(max-width:600px) {
                                font-size: 0.8125rem;
                            }
                        }

                        .thanksbtncontainer {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 1rem;

                            button {
                                border: none;
                                align-items: center;
                                display: flex;
                                justify-content: center;
                                font-weight: 500;
                                font-size: 13px;
                                color: #058DA6;
                                background: none;

                                @media (max-width:600px) {
                                    padding: 0.5rem 0.5rem;
                                    font-size: 10px;
                                }
                            }

                            .borderbtn {
                                border: 1px solid #058DA6;
                            }

                            @media(max-width:1224px) {
                                justify-content: center;
                            }

                            @media(max-width:600px) {
                                justify-content: center;
                                gap: 0.5rem;
                            }
                        }
                    }
                }

                @media (max-width:1224px) {
                    padding: 40px;

                }

                @media (max-width:700px) {
                    padding: 40px 0;
                }
            }

            @media (max-width:1224px) {
                flex-direction: column-reverse;
            }

            @media (max-width:700px) {
                padding-inline: 30px;
                margin-top: 0;
            }
        }

        @media (max-width:1300px) {
            padding: 30px 60px;
        }

        @media (max-width:700px) {
            padding: 0;
        }
    }

    .visitus {
        padding: 40px 160px 80px;
        width: 100%;
        max-width: 1600px;

        .contactmapcontainer {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin-top: 2rem;

            .contactimgcontainer {
                width: 100%;
                min-height: 508px;
                position: relative;
                overflow: auto;
                border-radius: 10px;
                max-width: 1600px;
                max-height: 510px;
                filter: drop-shadow(3px 5px 16px rgba(0, 0, 0, 0.1));

            }

            .getDirectionRow {
                width: 100%;
                position: absolute;
                bottom: 20px;
                left: 0;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                .getdirelement {
                    height: 100%;
                    max-width: 500px;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 0px 0 1rem;
                    // font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1rem;
                    color: #777777;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04);
                    border-radius: 16px;
                    width: fit-content;

                    &:lang(ar) {
                        padding: 0px 16px 0px 0px;
                    }

                    a {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        background-color: #058DA6;
                        color: white;
                        border-radius: 16px;
                        margin-left: 1rem;
                        cursor: pointer;

                        &:lang(ar) {
                            margin-left: 0;
                            margin-right: 1rem;
                        }

                        @media (max-width:700px) {
                            margin-left: 0.2rem;
                            padding-inline: 10px;
                        }
                    }

                    @media (max-width:700px) {
                        font-size: 0.625rem;
                        padding: 0px 0px 0 0.5rem;
                    }

                    @media (max-width:374px) {

                        font-size: 0.55rem;
                    }
                }

                @media (max-width:600px) {
                    height: 25px;
                }
            }
        }

        @media (max-width:1224px) {
            padding: 40px 80px 80px;
        }

        @media (max-width:600px) {
            padding: 2% 5% 5%;
        }

        @media (max-width:374px) {
            padding: 2% 3% 5%;
        }
    }

    .polygon {
        position: absolute;
        top: -200px;
        left: -120px;
        width: 400px;
        height: 426px;

        @media (max-width:1224px) {
            top: -170px;
            left: -80px;
            width: 300px;
            height: 326px;
        }

        @media (max-width:700px) {
            display: none;
        }
    }

    .customSelect {
        border-bottom: 1px solid #B5B5B5;
        padding: 11px 0;
        color: #777777;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        user-select: none;
        cursor: pointer;
    }

    .customdropdown {
        position: absolute;
        width: 100%;
        height: 40vh;
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        background-color: white;
        padding: 10px 16px 0;

        &[data-dir="1"] {
            top: calc(100% + 0.5rem);
        }

        &[data-dir="0"] {
            bottom: calc(0% + 0.5rem);
        }

        p {
            cursor: pointer;
        }


    }
}