@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import "./variable.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: $primary__color;
  scroll-behavior: smooth;

<<<<<<< HEAD
  &:lang(ar) {
    font-family: "Tajawal", sans-serif !important;
  }
=======
>>>>>>> 42320220c77cd8ece4f706979daae2550d2656e2
}

// Scrollbar design and settings
::-webkit-scrollbar {
  width: 10px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//Button Settings

button,
.btn {
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 25px;
  margin: 0;
  padding: 0.5rem 1.2rem;
  gap: var(--gap, 0.5rem);
  border: 1px solid white;
  border: none;
  box-shadow: none;
}

// list global styles
ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    text-decoration: none;
  }
}

// anchor global styles
a {
  text-decoration: none;
  color: white;
}

// utility class

.flex {
  display: flex;
  align-items: center;
  gap: var(--gap, 1rem);
}

//swiper class modifications

.swiper-pagination {
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15px;
  gap: 3px;
  padding: 1%;

  @media (max-width: 992px) {
    display: none;
  }
}

.swiper-pagination-bullet>img {
  content: url("../public/Svg/swiperpolygon.png");
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active>img {
  content: url("../public/Svg/Rectangle4.png");
  width: 50px;
  height: 15px;
}

.pagination-bullet {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.sectionsubHeading {
  font-weight: 400;
  font-size: 1rem;
  color: $sectionsubheadingcolor;
  width: fit-content;
  text-align: center;
  text-transform: uppercase;
}

.sectionmainHeading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.9375rem;
  line-height: 58px;
  text-align: center;
  background: linear-gradient(90deg, #058DA6 -2.78%, rgba(5, 141, 166, 0.3) 101.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;

  @media (max-width:1224px) {
    font-size: 1.5625rem;
  }

}

.sectionmaindescription {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  margin-block: 1rem;
  text-align: center;
  color: #777777;
  padding-inline: 10%;

  p {
    margin: 0;
    padding: 0;
  }

  @media (max-width:764px) {
    padding-inline: 2%;
    font-size: 0.8125rem;
    font-weight: 400;
    letter-spacing: 0;
  }

}

.headingRow {
  margin-inline: 0 !important;

  .col {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.partnercontainer {
  overflow: hidden;
  margin: 5rem 0;
}

.scrolling-image {
  background: url("../public/Images/partnerback.png") repeat-x;
  height: 74px;
  width: 8363.16px;
  animation: slide 60s linear infinite;
}

.scrolling-image2 {
  background: url("../public/Images/partnerback2.png") repeat-x;
  height: 74px;
  width: 8363.16px;
  animation: slide2 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-2787.72px);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(2787.72px);
  }
}


:root {
  --marquee-width: 100vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */
  /* defined with JavaScript */
  --marquee-elements-displayed: 4;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 7s);
  --marquee-animation-duration2: calc(var(--marquee-elements) * 14s);
}

.marquee,
.marquee2 {
  width: var(--marquee-width);
  height: var(--marquee-height);
  overflow: hidden;
  position: relative;
}

.marquee:before,
.marquee:after,
.marquee2:before,
.marquee2:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before,
.marquee2:before {
  left: 0;
  background: linear-gradient(to right, rgb(248, 248, 248) 0%, transparent 100%);
}

.marquee:after,
.marquee2:after {
  right: 0;
  background: linear-gradient(to left, rgb(252, 249, 249) 0%, transparent 100%);
}

.marquee-content,
.marquee-content2 {
  list-style: none;
  height: 100%;
  display: flex;
  opacity: 0.75;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}


.marquee-content2 {
  opacity: 0.35;
  animation: antiscrolling var(--marquee-animation-duration2) linear infinite;
}

.marquee-content:hover,
.marquee-content2:hover {
  animation-play-state: paused;
}

@keyframes scrolling {
  100% {
    transform: translateX(0%);
  }

  0% {
    transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}

@keyframes antiscrolling {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}

.marquee-content li,
.marquee-content2 li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4);
  /* 5rem; */
  white-space: nowrap;
  position: relative;

  svg {
    cursor: pointer;
  }

  a {
    margin-inline: 2rem;
  }
}

.marquee-content li img,
.marquee-content2 li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 700px) {
  html {
    font-size: 12px;
  }

  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 2;
  }

  .marquee:before,
  .marquee:after,
  .marquee2:before,
  .marquee2:after {
    width: 5rem;
  }
}