@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import "./variable.module.scss";
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: $primary__color;
  scroll-behavior: smooth;
}

// Scrollbar design and settings
::-webkit-scrollbar {
  width: 10px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//Button Settings

button,
.btn {
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 25px;
  margin: 0;
  padding: 0.5rem 1.2rem;
  gap: var(--gap, 0.5rem);
  border: 1px solid white;
  border: none;
  box-shadow: none;
}
// list global styles
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    text-decoration: none;
  }
}

// anchor global styles
a {
  text-decoration: none;
  color: white;
}

// utility class

.flex {
  display: flex;
  align-items: center;
  gap: var(--gap, 1rem);
}

//swiper class modifications

.swiper-pagination {
  position: absolute;
  bottom: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15px;
  gap: 3px;
  padding: 1%;
}
.swiper-pagination-bullet > img {
  content: url("../public/Svg/swiperpolygon.png");
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active > img {
  content: url("../public/Svg/Rectangle4.png");
  width: 50px;
  height: 15px;
}

.pagination-bullet {
  width: 100%;
  height: 100%;
}
