.app__home {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app__bannerSection {
  position: relative;
  width: 100vw;
  height: 100vh;
  .app__bannerswiper {
    width: 100%;
    height: 100%;
    .app__bannerswiperslide {
      width: 100%;
      height: 100%;
      .app__slider_overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.15),
          rgba(0, 0, 0, 0.15)
        );
      }
      .app__bannerslidecontent {
        color: white;
        letter-spacing: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0px 0px 77.9037px rgba(0, 0, 0, 0.83);
        max-width: 100%;
        white-space: nowrap;
        transition: all 0.5s ease-in-out;
        h1 {
          font-size: 3rem;
          margin: 1rem 0;
          transition: all 0.5s ease-in-out;
          @media (max-width: 1300px) {
            font-size: 2.5rem;
          }
          @media (max-width: 610px) {
            font-size: 1.5rem;
            margin: 0.5rem 0;
          }
        }

        h2 {
          transition: all 0.5s ease-in-out;
          @media (max-width: 1300px) {
            font-size: 1.8rem;
          }
          @media (max-width: 992px) {
            font-size: 1.5rem;
          }
          @media (max-width: 610px) {
            font-size: 1rem;
          }
        }
        @media (max-width: 992px) {
          top: 80%;
          left: 5%;
          transform: none;
          z-index: 2;
          text-align: left;
          white-space: unset;
        }
        @media (max-width: 610px) {
          top: 85%;
          left: 5%;
          transform: none;
          z-index: 2;
          text-align: left;
          white-space: unset;
        }
      }
    }
  }
  .app__banner_polygon1 {
    position: absolute;
    bottom: -13rem;
    right: -7%;
    z-index: 2;
    width: 400px;
    height: 400px;
    transition: all 0.5s ease-in-out;
    @media (max-width: 992px) {
      width: 300px;
      height: 300px;
      bottom: -7rem;
    }
    @media (max-width: 610px) {
      width: 210px;
      height: 210px;
      bottom: -3rem;
    }
    @media (max-width: 400px) {
      right: -20%;
    }
  }
  .app__banner_polygon2 {
    position: absolute;
    bottom: -19rem;
    right: -11%;
    z-index: 2;
    width: 400px;
    height: 400px;
    transition: all 0.5s ease-in-out;
    @media (max-width: 992px) {
      width: 300px;
      height: 300px;
      bottom: -12rem;
    }
    @media (max-width: 610px) {
      width: 210px;
      height: 210px;
      bottom: -5rem;
    }
    @media (max-width: 400px) {
      right: -30%;
    }
  }
}
