.app__home {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app__bannerSection {
  position: relative;
  width: 100vw;
  height: 100vh;
  .app__bannerswiper {
    width: 100%;
    height: 100%;
    .app__bannerswiperslide {
      width: 100%;
      height: 100%;
      .app__slider_overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.15),
          rgba(0, 0, 0, 0.15)
        );
      }
      .app__bannerslidecontent {
        color: white;
        letter-spacing: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0px 0px 77.9037px rgba(0, 0, 0, 0.83);
        max-width: 100%;
        white-space: nowrap;
        transition: all 0.5s ease-in-out;
        h1 {
          font-size: 3rem;
          margin: 1rem 0;
          transition: all 0.5s ease-in-out;
          @media (max-width: 1300px) {
            font-size: 2.5rem;
          }
          @media (max-width: 610px) {
            font-size: 1.5rem;
            margin: 0.5rem 0;
          }
        }

        h2 {
          transition: all 0.5s ease-in-out;
          @media (max-width: 1300px) {
            font-size: 1.8rem;
          }
          @media (max-width: 992px) {
            font-size: 1.5rem;
          }
          @media (max-width: 610px) {
            font-size: 1rem;
          }
        }
        @media (max-width: 992px) {
          top: 80%;
          left: 5%;
          transform: none;
          z-index: 2;
          text-align: left;
          white-space: unset;
        }
        @media (max-width: 610px) {
          top: 85%;
          left: 5%;
          transform: none;
          z-index: 2;
          text-align: left;
          white-space: unset;
        }
      }
    }
  }
  .app__banner_polygon1 {
    position: absolute;
    bottom: -8.5rem;
    right: -4%;
    z-index: 2;
    width: 350px;
    height: 350px;
    @media (max-width: 1400px) {
      bottom: -12rem;
      right: -7%;
    }
    @media (max-width: 992px) {
      width: 300px;
      height: 300px;
      bottom: -7rem;
    }
    @media (max-width: 610px) {
      width: 210px;
      height: 210px;
      bottom: -3rem;
    }
    @media (max-width: 400px) {
      right: -20%;
    }
  }
  .app__banner_polygon2 {
    position: absolute;
    bottom: -15rem;
    right: -8%;
    z-index: 2;
    width: 350px;
    height: 350px;
    @media (max-width: 1400px) {
      bottom: -17rem;
      right: -11%;
    }
    @media (max-width: 992px) {
      width: 300px;
      height: 300px;
      bottom: -12rem;
    }
    @media (max-width: 610px) {
      width: 210px;
      height: 210px;
      bottom: -5rem;
    }
    @media (max-width: 400px) {
      right: -30%;
    }
  }
}

//sustainable featuresection
.app__sustainablefeaturesection {
  margin: 0 0 5rem 0;
  padding: 0;
  .sustainablesection_heading {
    margin: 5rem 2.5rem 1rem 2.5rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

//icons sections
.sustainableicons {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
  }
}
.socialIconIcon,
.ecoIconIcon,
.envIconIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.iconSocialActive {
  svg {
    fill: #e79127;
    path {
      stroke: #e79127;
    }
  }
  .socialIconIcon {
    svg path {
      fill: white;
      stroke: white;
      stroke-width: 0.5px;
    }
  }
}
.iconSocial {
  svg {
    fill: transparent;
    path {
      stroke: orange;
    }
  }
  .socialIconIcon {
    svg path {
      fill: orange;
      stroke: orange;
      stroke-width: 0.5px;
    }
  }
}

.iconEnvActive {
  svg {
    fill: #70b795;
    path {
      stroke: #70b795;
    }
  }
  .envIconIcon {
    svg path {
      fill: white;
      stroke: white;
      stroke-width: 0.5px;
    }
  }
}
.iconEnv {
  svg {
    fill: transparent;
    path {
      stroke: #70b795;
    }
  }
}
.iconEcoActive {
  svg {
    fill: #038fab;
    path {
      stroke: #038fab;
    }
  }
  .ecoIconIcon {
    svg path {
      fill: white;
      stroke: white;
      stroke-width: 0.5px;
    }
  }
}
.iconEco {
  svg {
    fill: transparent;
    path {
      stroke: #038fab;
    }
  }
}

//content section
.sustainablefeaturecontent {
  .sustainablefeatures {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.sustainablecontentContainer {
  padding: 2%;
  min-height: max-content;
  div {
    text-align: center;
    h3 {
      text-transform: capitalize;
      font-weight: 600;
      line-height: 30px;
      font-size: 1.625rem;
    }
    p {
      font-size: 1.125rem;
      color: #777777;
      font-weight: 400;
    }
  }
  .featuresoverLay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 45.49%
    );
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 2;
  }
}

.featureBullets {
  font-weight: 500;
  font-size: 1.375rem;
  color: #777777;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 2.5rem;
}

.bulletSustainable {
  margin: 2rem auto;
  max-width: 70%;
}

.sustainImgCol {
  display: flex;
  align-items: center;
  justify-content: center;
  .susimage1 {
    left: -50% !important;
  }
  .susimage2 {
    right: -40% !important;
  }
}
//masterplan section

.app__masterplan {
  background: rgba(5, 141, 166, 0.1);
  box-shadow: 0px -1px 44px rgba(0, 0, 0, 0.03);
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .masterplan_description {
    margin: 1rem 0;
    margin-bottom: 2rem;
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    color: #777777;
  }
  .masterplan_imagecontainer {
    border-radius: 15px;
    position: relative;
  }
  .masterplan_markerLayer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .masterplan_marker {
      display: block;
      position: absolute;
      transition: all 0.2s ease-in-out;
      p {
        padding: 0;
        margin: 0;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        align-items: flex-end;
        color: #ffffff;
        display: flex;
        justify-content: center;
        text-shadow: 0px 0px 18.2927px rgba(0, 0, 0, 1);
      }
    }
  }
}
.markeranchor {
  display: block;
  position: relative;
}

.autism {
  top: 8%;
  left: 10%;
  .markeranchor {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
  }
  p {
    font-size: 0.6rem;
    width: min-content;
  }
}
.equistrian {
  top: 15%;
  left: 17%;
  .markeranchor {
    width: 2.5rem;
    height: 2.5rem;
    margin: auto;
  }
  p {
    font-size: 1.0625rem;
    width: min-content;
  }
}
.seelab {
  top: 10%;
  left: 30%;
  .markeranchor {
    width: 1.7rem;
    height: 1.7rem;
    margin: auto;
    @media (max-width: 1200px) {
      width: 2rem;
      height: 2rem;
    }
  }
  p {
    font-size: 0.75rem;
    @media (max-width: 1200px) {
      font-size: 0.5rem;
    }
  }
}

.mosque {
  top: 11%;
  left: 37%;
  .markeranchor {
    width: 1.7rem;
    height: 1.7rem;
    margin: auto;
    @media (max-width: 1200px) {
      width: 2rem;
      height: 2rem;
    }
  }
  p {
    font-size: 0.75rem;
    width: min-content;
    @media (max-width: 1200px) {
      font-size: 0.5rem;
    }
  }
}
.residential {
  top: 50%;
  left: 41%;
  .markeranchor {
    width: 2.7rem;
    height: 2.7rem;
    margin: auto;
    @media (max-width: 1200px) {
      width: 2rem;
      height: 2rem;
    }
  }
  p {
    font-size: 0.75rem;
    @media (max-width: 1200px) {
      font-size: 0.5rem;
    }
  }
}
.spine {
  top: 30%;
  left: 38%;
  .markeranchor {
    width: 1.8rem;
    height: 1.8rem;
    margin: auto;
    @media (max-width: 1200px) {
      width: 2rem;
      height: 2rem;
    }
  }
  p {
    font-size: 0.75rem;
    @media (max-width: 1200px) {
      font-size: 0.5rem;
    }
  }
}
.school {
  top: 40%;
  left: 52%;
  .markeranchor {
    width: 2.41875rem;
    height: 2.41875rem;
    margin: auto;
    @media (max-width: 1200px) {
      width: 2rem;
      height: 2rem;
    }
  }
  p {
    font-size: 0.75rem;
    width: min-content;
    @media (max-width: 1200px) {
      font-size: 0.5rem;
    }
  }
}
.sport {
  top: 32%;
  left: 58%;
  .markeranchor {
    width: 1.9rem;
    height: 1.9rem;
    margin: auto;
    @media (max-width: 1200px) {
      width: 2rem;
      height: 2rem;
    }
  }
  p {
    font-size: 0.6rem;
    width: min-content;
    @media (max-width: 1200px) {
      font-size: 0.5rem;
    }
  }
}
.wellness {
  top: 29%;
  left: 66%;
  .markeranchor {
    width: 1.9rem;
    height: 1.9rem;
    margin: auto;
    @media (max-width: 1200px) {
      width: 2rem;
      height: 2rem;
    }
  }
  p {
    font-size: 0.4rem;
    width: min-content;
    @media (max-width: 1200px) {
      font-size: 0.5rem;
    }
  }
}
.fourstar {
  top: 30%;
  left: 71%;
  .markeranchor {
    width: 1.9rem;
    height: 1.9rem;
    margin: auto;
    @media (max-width: 1200px) {
      width: 2rem;
      height: 2rem;
    }
  }
  p {
    font-size: 0.6rem;
    width: min-content;
    @media (max-width: 1200px) {
      font-size: 0.5rem;
    }
  }
}
.branded {
  top: 23%;
  left: 76%;
  .markeranchor {
    width: 1.1rem;
    height: 1.1rem;
    margin: auto;
    @media (max-width: 1200px) {
      width: 2rem;
      height: 2rem;
    }
  }
  p {
    font-size: 0.4rem;
    width: min-content;
    @media (max-width: 1200px) {
      font-size: 0.5rem;
    }
  }
}
.fivestar {
  top: 40%;
  left: 80%;
  .markeranchor {
    width: 1.9rem;
    height: 1.9rem;
    margin: auto;
    @media (max-width: 1200px) {
      width: 2rem;
      height: 2rem;
    }
  }
  p {
    font-size: 0.7rem;
    width: min-content;
    @media (max-width: 1200px) {
      font-size: 0.5rem;
    }
  }
}
.plaza {
  top: 52%;
  left: 70%;
  .markeranchor {
    width: 2.9rem;
    height: 2.9rem;
    margin: auto;
    @media (max-width: 1200px) {
      width: 2rem;
      height: 2rem;
    }
  }
  p {
    font-size: 1.1rem;
    width: min-content;
    @media (max-width: 1200px) {
      font-size: 0.5rem;
    }
  }
}
.festival {
  top: 60%;
  left: 85%;
  .markeranchor {
    width: 2.9rem;
    height: 2.9rem;
    margin: auto;
    @media (max-width: 1200px) {
      width: 2rem;
      height: 2rem;
    }
  }
  p {
    font-size: 1.1rem;

    @media (max-width: 1200px) {
      font-size: 0.5rem;
    }
  }
}

//location section
.app__locationsection {
  background: rgba(5, 141, 166, 0.1);
  box-shadow: 0px -1px 44px rgba(0, 0, 0, 0.03);
  .location_description {
    margin: 1rem 0;
    margin-bottom: 2rem;
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    color: #777777;
  }
  .locationImagecontainer {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 68.44%,
      #ffffff 100%
    );
    svg {
      position: absolute;
      bottom: 31.5%;
      right: 8%;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
//villaplan Section

.app__villplanmaincontainer {
  margin: 2.5rem 4%;
  padding: 2.5rem 0 0 0;
  background: rgba(5, 141, 166, 0.1);
  box-shadow: 0px -1px 44px rgba(0, 0, 0, 0.03);
  position: relative;
  border-radius: 15px;
  .descriptionRow {
    position: absolute;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777777;
  }
  .activeVilla {
    h5 {
      color: #ffffff;
      background-color: #038fab;
    }
    p {
      font-weight: 600;
    }
  }
}
.villaplanindexrow {
  justify-content: center;
  margin: 1.8rem 0;
}
.villaplanindexcol {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  color: #777777;
  background-color: transparent;
  gap: 0;
  // border-right: 2px solid #038fab;
  position: relative;
  cursor: pointer;
  &:nth-child(3) {
    border-right: none;
  }

  h5 {
    width: 28px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    border-radius: 16px;
  }
  span {
    width: 2px;
    height: 80%;
    background: #038fab;
    position: absolute;
    right: 1px;
  }
  .border_line_2 {
    display: none;
  }
  p {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-style: normal;
    font-size: 14px;
    line-height: 35px;
    color: #777777;
  }
}

.villaplanImageContainer {
  position: relative;
  .villaplanfeatures {
    position: absolute;
    bottom: 2px;
    left: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 1.5% 3%;
    gap: 2.5rem;
    transform: translate(-50%, -50%);

    p {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      gap: 0.5rem;
      font-weight: 500;
      font-size: 14px;
      line-height: 30px;

      text-transform: capitalize;

      color: #777777;
    }
    .heading {
      font-weight: 700;
      text-transform: uppercase;
    }
    button {
      white-space: nowrap;

      background: #058da6;
      border-radius: 10px;
    }
  }
}

//partners
.app__partnersection {
  margin-top: 2.5rem;
}
