@import "./variable.module.scss";

.app__header {
  color: $primary__color;
  padding: 3.125rem 6.25rem;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.25) 50.13%,
    rgba(217, 217, 217, 0) 100%
  );
  @media (max-width: 1200px) {
    padding: 1rem 0.5rem;
  }
}

.app__header_right {
  justify-content: space-between;
  gap: 2.5rem;

  span span img {
    min-width: 170px;
    min-height: 60px;
    margin-inline: 2%;
    @media (max-width: 500px) {
      min-width: 100px;
      min-height: 45px;
      max-height: 45px;
      max-width: 100px;
    }
  }
  button {
    font-weight: 600;
    padding-inline: 1.5rem;
    color: $primary__button_color;
    background-color: white;
    margin-inline: 2%;
    width: 100px;
    height: 35px;
    @media (max-width: 500px) {
      display: none;
    }
  }
  @media (max-width: 1024px) {
    flex: 1;
  }
  @media (max-width: 500px) {
    flex: unset;
  }
}

.app__header_middle {
  margin: 0 3rem;
  ul {
    justify-content: flex-end;
    gap: 4rem;
    margin: 0;
    width: 100%;
    li a {
      text-decoration: none;
      color: white;
      white-space: nowrap;
      font-weight: 400;
      letter-spacing: 1px;
    }
    @media (max-width: 1200px) {
      gap: 2.5rem;
    }
  }
}

.app__header_left {
  button {
    border: 1px solid white;
    border-radius: 25px;
    padding-inline: 1.8rem;
    white-space: nowrap;
    margin-right: 5%;
    @media (max-width: 500px) {
      display: none;
    }
  }
}

.mobilelangbtn {
  font-weight: 600;
  padding-inline: 1.5rem;
  color: $primary__button_color;
  background-color: white;
  width: 50px;
  height: 20px;
  @media (min-width: 500px) {
    display: none;
  }
}

// footer

.footer {
  position: relative;
  margin-top: 50px;
}

.logo {
  position: absolute;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: center;
  margin-top: 30px;
}

.items {
  height: 300px;
  clip-path: polygon(0 35%, 50% 0, 100% 35%, 100% 100%, 0% 100%);
  background: $footer_bg;
}
