//masterplan section

.app__masterplan {
  background: rgba(5, 141, 166, 0.1);
  box-shadow: 0px -1px 44px rgba(0, 0, 0, 0.03);
  padding: 5% 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .masterplan_description {
    margin: 1rem 0;
    margin-bottom: 2rem;
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    color: #777777;
  }
  .masterplan {
    position: relative;
    width: 90vw;
    height: 90vh;
    max-width: 1528px;
    max-height: 800px;

    svg {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      path {
        position: absolute;
      }
    }
    .masterplanpopup {
      background-color: transparent;
      position: absolute;
      inset: 0;
      height: 100%;
      display: block;
      width: 100%;
      pointer-events: none;
      .popupinnercard {
        width: 220px;
        height: 440px;
        transform: translate(-50%);
        font-family: "Poppins";
        background-color: white;
        font-size: 0.8125rem;
        line-height: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: #777777;
        overflow: hidden;
        text-align: center;
        pointer-events: all;
        -webkit-clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);
        h3 {
          text-transform: uppercase;
          letter-spacing: 0px;
          margin: 0.5rem 0;
        }
        .description {
          width: 80%;
        }
        .detailsContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          text-align: center;
          h6 {
            text-transform: capitalize;
          }
        }
        button {
          color: #ffffff;
          margin: 1rem 0;
          background-color: #058da6;
        }
      }
      .popupinnercard[data-position="top"] {
        transform: translate(-50%, -100%);
      }
    }
    .masterplan_bottomindex {
      position: absolute;
      bottom: 20px;
      width: 100%;
      padding: 0 clamp(1vw, 4vw, 5vw);

      .indexdiv {
        min-height: 125px;
        height: 125px;
        background: #ffffff;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 15px;
        padding: 10px;
        .componentdiv {
          flex: 1;
          flex-wrap: wrap;
        }
        .componentdiv,
        .tracksdiv {
          display: grid;
          min-height: 100%;
          grid-template-columns: auto 1fr;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          color: #777777;
          text-transform: capitalize;
          gap: 0.8rem;
          .componentheading,
          .tracksheading {
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
        .tracksdiv {
          grid-template-columns: 40% 60%;
          flex: 0.2;
          position: relative;
        }
        .components,
        .tracks {
          display: grid;
          grid-template-columns: repeat(5, 20%);
          p {
            font-family: "Poppins";
            cursor: pointer;
            margin: 0;
            padding: 0;
            font-size: clamp(12px, 0.4vw + 0.5rem, 0.9rem);
            color: #777777;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
          }
          @media (max-width: 1360px) {
            grid-template-columns: repeat(4, 25%);
          }
        }
        .tracks {
          grid-template-columns: 1fr;
        }
        &::before {
          content: "";
          position: absolute;
          height: 70%;
          top: 15%;
          right: 22%;
          width: 2px;
          background-color: #058da6;
          border: none;
          border-radius: 2px;
        }
      }
      @media (max-width: 1224px) {
        display: none;
      }
    }
    @media (max-width: 998px) {
      height: 60vh;
    }
    @media (max-width: 600px) {
      height: 40vh;
    }
  }
  .mobilebtmindex {
    display: none;
    width: 90vw;
    nav {
      background: #fdfdfd;
      padding: 5px 5px 0;
      height: 44px;
    }
    ul,
    li {
      list-style: none;
      padding: 0;
      margin: 0;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 14px;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
    }

    li {
      position: relative;
      background: white;
      cursor: pointer;
      height: 24px;
      min-width: 0;
      user-select: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 0px 15px;
    }
    li.selectedTab {
      // background: #eee;
    }

    li button {
      border: 0;
      background: #fff;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      stroke: #000;
      margin-left: 10px;
      cursor: pointer;
    }
    .underline {
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 1px;
      background: #058da6;
    }
    .mobilebtmcontent {
      background-color: white;
    }
    @media (max-width: 1224px) {
      display: block;
      min-height: 20vh;
    }
  }
}
