// scss variables

$primary__color: black;
$primary__button_color: #058da6;
$white__font_color: #fff;
$font_color_gray: #777777;

$footer_bg: #058da61a;

$fs_100: 0.6rem;
$fs_200: 1rem;
$fs_300: 1.5rem;
