.app__villasection1planmain {
    // margin-top: 73px;
    width: 100vw;
    height: 100%;
    background: rgba(5, 141, 166, 0.1);

    @media (max-width:1224px) {
        margin-top: 110px;
        height: 100%;
    }

    @media (max-width:600px) {
        margin-top: 20px;
        height: 100%;
    }


    .floorplanHeading {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 39px;
        background: linear-gradient(90deg, #058DA6 -2.78%, rgba(5, 141, 166, 0.3) 101.52%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 112px;

        @media (max-width:1200px) {
            padding-top: 112px;
        }

        @media (max-width:600px) {
            font-size: 22px;
            padding-top: 70px;
        }

    }

    .floorplansubHeading {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: #777777;
        width: 60%;
        margin: 0 auto;
        color: #777777;

        @media (max-width:1224px) {
            width: 80%;
        }

        @media (max-width:600px) {
            width: 90%;
            font-size: 13px;
            line-height: 19.5px;
        }
    }

    button {
        margin-right: 20px;
        background-color: #058DA6;
        border-radius: 10px;

        @media (max-width:600px) {

            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    .downloadcomparison {
        margin-block: 2rem;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #058DA6;

        p {
            cursor: pointer;
            padding: 0;
            margin: 0;
            justify-content: center;
            display: flex;
            gap: 0.6rem;
            align-items: center;

            @media (max-width:600px) {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
    }

    // .bgimg {
    //     bottom: 380px !important;

    //     @media (max-width:1224px) {
    //         bottom: 0px !important;
    //     }
    // }

    .poly1 {
        margin-top: 20%;
        position: absolute;
        display: block;

        @media (max-width:1224px) {
            display: none;
        }
    }

    .poly2 {
        position: absolute;
        right: 0%;

        @media (max-width:600px) {
            width: 25%;
        }
    }
}